%%-*-Erlang-*-
%%{erl_opts, [debug_info, warnings_as_errors]}.
{erl_opts, [debug_info]}.

{deps, []}.

{minimum_otp_vsn, "27.0"}.

%% == Plugins ==

{plugins, [rebar3_fmt, rebar3_hex, rebar3_ex_doc]}.

%% == Xref ==

{xref_checks, [locals_not_used, deprecated_function_calls,
               deprecated_functions]}.

%% == Dialyzer ==

{dialyzer,
 [{warnings, [unmatched_returns]}
 ]}.

%% == Eunit ==

{eunit_opts, [{report, {eunit_surefire, []}}]}.

%% == ExDoc ==

{ex_doc, [
          {extras, ["README.md", "NEWS.md", "LICENSE"]},
          {main, "README.md"},
          {source_url, "https://github.com/travelping/enats_msg"}
         ]}.

%% == Hex ==

{hex, [
       {doc, #{provider => ex_doc}}
      ]}.
